* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0%;
  z-index: 1000;
}

main {
  margin-top: 14vh;
  background-color: aliceblue;
  height: 150vh;
}

/* Stats */

.page-title {
  padding: 4vh;
  font-weight: 500;
  color: navy;
  font-size: x-large;
}

.stats {
  display: flex;
  padding: 2vh;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
}

.mon-income,
.mon-expenses,
.rem-budget {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  background-color: #fff;
  width: 25vw;
  height: 25vh;
  border-radius: 5px;
}

.stats-heading {
  display: flex;
  align-items: self-end;
  height: 20%;
  gap: 2px;
  /* justify-content: space-between; */
}

.stats-heading p {
  font-size: larger;
  color: navy;
  font-weight: 500;
}

.stats-heading span {
  align-self: center;
  font-size: 14px;
  color: grey;
}

.stats-heading i {
  position: absolute;
  right: 5%;
  top: 6%;
  font-size: larger;
}

.value {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80%;
  gap: 6px;
}

.icon-container {
  background-color: rgba(128, 0, 128, 0.157);
  height: 65%;
  width: 22%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i {
  font-size: xx-large;
  color: #1c23f7;
}

.value p {
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #012970;
  font-weight: 500;
}

.recent-expenses {
  display: flex;
  padding: 2vh;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
  background-color: #fff;
  margin: 2vw;
  position: relative;
}

.recent-expenses h2 {
  color: #1c23f7;
}

.recent-expenses i {
  position: absolute;
  right: 2%;
  font-size: 45px;
  top: 1%;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(91, 97, 97, 0.104);
}

/* Responsive CSS */

@media only screen and (max-width: 600px) {
  main {
    margin-top: 10vh;
  }

  /* stats */

  .stats {
    gap: 5vh;
    margin: 0;
  }

  .mon-income,
  .mon-expenses,
  .rem-budget {
    width: 100vw;
    height: 22vh;
  }

  .icon-container {
    background-color: rgba(128, 0, 128, 0.157);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Recent Expenses */

  .class {
    margin-top: 10vh;
  }

  .table-responsive {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 10vh;
  }

  /* stats */

  .stats {
    gap: 10vw;
  }

  .mon-income,
  .mon-expenses,
  .rem-budget {
    width: 35vw;
  }
}

@media only screen and (min-width: 768px) {
  main {
    margin-top: 10vh;
  }

  /* stats */

  .stats {
    gap: 5vw;
  }

  .mon-income,
  .mon-expenses,
  .rem-budget {
    width: 40vw;
    height: 25vh;
  }

  .icon-container {
    background-color: rgba(128, 0, 128, 0.157);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  main {
    margin-top: 10vh;
  }

  /* stats */

  .stats {
    gap: 2vw;
  }

  .mon-income,
  .mon-expenses,
  .rem-budget {
    width: 27vw;
    height: 25vh;
  }

  .icon-container {
    background-color: rgba(128, 0, 128, 0.157);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
