<!-- Navigation -->
<div class="header">
  <!-- Horizontal Nav -->
  <div class="horizontal-header">
    <ul>
      <!-- Left-side -->
      <nav class="left-side">
        <li><img src="../../../assets/icons/image.png" alt="" /></li>
        <li>SpendWise</li>
      </nav>

      <!-- Right-Side -->
      <nav class="right-side">
        <li class="hideOnMobile"><i class="bi bi-grid"></i>Dashboard</li>
        <li class="hideOnMobile">
          <i class="bi bi-receipt"></i>Manage Expenses
        </li>
        <li class="hideOnMobile">
          <i class="bi bi-cash-stack"></i>Manage Budgets
        </li>
        <li id="togglebtn" class="hideOnPc"><i class="bi bi-list"></i></li>
        <li class="hideOnMobile">
          <i class="bi bi-bar-chart"></i>Reports and Charts
        </li>
      </nav>
    </ul>
  </div>

  <!-- Vertical Nav/ Sidebar -->
  <div class="vertical-header">
    <ul>
      <li><i class="bi bi-grid"></i>Dashboard</li>
      <li><i class="bi bi-receipt"></i>Manage Expenses</li>
      <li><i class="bi bi-cash-stack"></i>Manage Budgets</li>
      <li><i class="bi bi-bar-chart"></i>Reports and Charts</li>
    </ul>
  </div>
</div>
